<html lang="en">
{% load staticfiles %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mountain Page</title>
  <link rel="stylesheet" href="{% static "css/mystyle.css" %}" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
  <h1>Welcome to django2</h1>
  <img src="{% static "images/mountain.jpg" %}" alt="mountain" />
  <p>Go to /first_app/users to list of user</p>
  <p>Go to /first_app/register to sign up an account</p>
  <h2>Here are your access records:</h2>

  <div class="djangotwo">
    {% if access_records %}
      <table>
        <thead>
          <th>Site Name</th>
          <th>Date Accessed</th>
        </thead>
        {% for acc in access_records %}
          <tr>
            <td>{{ acc.name }}</td>
            <td>{{ acc.date }}</td>
          </tr>
        {% endfor %}
      </table>
      {% else %}
      <p>NO ACCESS RECORDS FOUND!</p>
    {% endif %}
  </div>
</body>
</html>